@use "sass:map";
@use "../abstract/" as *;

:root {
  @each $name, $value in $font-sizes {
    --fs-#{$name}: #{$value};
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}
