@use "../abstract/" as *;

.container {
    max-width: 120rem;
    margin: 0 auto;
    overflow-x: hidden;
}

.container > div {
  width: 100%;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__img {
    
    &--fr {
      position: absolute;
      bottom: 7px;
      right: 360px;
    }
  }
  &__quote {
    text-align: end;
  }
  &__heading {
    text-align: center;
    margin-left: -15%;
    line-height: 31rem;
  }

  &__cta {
    width: 36rem;
    height: 12.5rem;
    background-color: rgba(225, 225, 225, 0.95);
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
}

.ctrl {
  position: relative;
}

.banner {
  border-top: 1px solid clr(grey);
  border-bottom: 1px solid clr(grey);
  @include fontSelector(300, 200, base);
  padding: 1.6rem 0;
  color: #7B7B7B;
  
  width: 200%;
  margin-left: -62rem;
  gap: $stream-gap;
}
