$sizes: (
  "small": (
    "100": 1.6rem,
    "200": 2rem,
    "300": 2.4rem,
    "400": 3.2.rem,
    "500": 4rem,
    "600": 6.4rem,
    "700": 9.6rem,
    "800": 36rem
  ),
 "large": (
    "100": 1.6rem,
    "200": 2rem,
    "300": 2.4rem,
    "400": 3.2.rem,
    "500": 4rem,
    "600": 6.4rem,
    "700": 9.6rem,
    "800": 36rem
  )
);


$size-1: 1.6rem;
$size-2: 2rem;
$size-3: 2.4rem;
$size-4: 3.2.rem;
$size-5: 4rem;
$size-6: 6.4rem;
$size-7: 9.6rem;
$size-8: 36rem;

